@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #ebf2ff;
    overflow-x: hidden;
    transition: 0.5s;
}

section{
    margin: 3rem 0;
}

.button__primary{
    /* background-image: linear-gradient(red, yellow); */
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );
    margin: 10px;
    padding: 20px;
    color: #fff;
    border: none;
    /* padding: 0.5rem 1rem; */
    text-align: center;
    justify-content: center;
    text-transform: capitalize;
    transition: 0.5s;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
    display: block;
}


.navbar{
    position: sticky;
    height: 80px;
    top: 0;
    display: flex;
    justify-content: space-between;
    text-align: right;
    align-items: center;
    background-color: #f9fafc;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
    z-index: 9999;
}

.navbar__brand{
    width: 100px;
}
.navbar__logo{
    width: 100%
}
.nav__item:hover{
    border: 2px solid pink;
}

.top__image__container{
    position: absolute;
    display: flex;
    width:50%;
    margin-left: 50%;
}
    .top__image__pattern{
        width: 80%;
        position: absolute;
        margin-left: 8%;
    }

.top__image__shape{
    width: 80%;
    position: absolute;
    margin-left: 8%;
}


.top__image{
    margin-left: 8%;
    margin-top: 3rem;
    position: absolute;
    width: 80%;
    z-index: 2;
    border-radius: 6px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}
.top__description{
    font-size: 25px;
    line-height: 2.25rem;
    color: #1d3557;
    font-weight: 900;
    margin: 20px;
    padding: 50px;
    width: 40%;
    box-sizing: border-box;
    align-items: center;
    margin-bottom: 50px;
    justify-content: space-around;
}
.top__text{

    margin-top: 200px;

}

.ytbackgrountyt{
    
    margin-right: 30%;
    
      margin-top: 40%;
    text-align: center;   
}

.yt_backgrountyt{
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );
    width: 556px;
    height: 310px;
    position: absolute;
    text-align: center;
    margin-left: 36%;
    margin-top: 20px;
   
}
.yt{
    
    position: absolute;
    text-align: center;

}

.p{
    
    margin-top: 18%;
   text-align: center;
}

.explore_more{
  
	
    margin-top: 20%;
    margin-left: 15%;
    width:70%;
    height: 800px;
    transform: skew(0deg, -5deg);
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );

}
.explore_more_p{
    color: rgb(16, 26, 84);
    margin-top: 20px;
    transform: skew(0deg, 5deg);
    text-align: center;
    height: 20%;  
}

.menu_header{
    margin-top: 0%;
    font-size: 80px;
}
.grid {
    
    margin-left: 2%;
    transform: skew(0deg, 5deg);
    display: grid;
    width: 100em;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 4rem));
    align-items: start;
  }
  
  .grid-item {
    
    height: 98%;
    background-color: #fff;
    border-radius: 0.4rem;
    overflow: hidden;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.2s;
  }
  
  .grid-item:hover {
    transform: translateY(-8%);
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
  }
  
  .card-img {
    display: block;
    width: 100%;
    height: 20rem;
    object-fit: cover;
  }
  
  
  .card-content {
    padding: 1rem;
  }
  
  .card-header {
    font-size: 2rem;
    font-weight: 500;
    color: #0d0d0d;
    margin-bottom: 1rem;
  }
  
  .card-text {
   
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    line-height: 1.7;
    color: #3d3d3d;
    margin-bottom: 2rem;
  }
  .card-text-rating{
    font-size: 20px;
    color: rgb(255, 48, 48);
  }



.view_more_button{
    margin-top: 1%;
    transform: skew(0deg, 5deg);
      background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );
    
    padding: 20px;
    color: #fff;
    border: none;
    /* padding: 0.5rem 1rem; */
    text-align: center;
    justify-content: center;
    text-transform: capitalize;
    transition: 0.5s;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
    margin-left: 50%;
    
}


.bottom__container{
    margin-top: 30%;
}

.bottom__image__container{
  margin-top: -8%;
    position: absolute;
    display: flex;
    width:50%;
    margin-left: 40%;
}

.restaurant1{
    position: absolute;
    height: 120px;
    width: 300px;
    margin-left: 130px;
    margin-top: 100px;
    }

.restaurant2{
    position: absolute;
    height: 200px;
    width: 400px;
    margin-left: 440px;
    margin-top: 20px;
}


.restaurant3{
    
    height: 200px;
    width: 400px;
    margin-left: 130px;
    margin-top: 225px;
}
.restaurant4{
   
    height: 120px;
    width: 300px;
    margin-left: 10px;
    margin-top: 225px;
}




.bottom__description{
   
    font-size: 30px;
    line-height: 2.25rem;
    color: #1d3557;
    font-weight: 900;
    margin: 20px;
    padding: 50px;
    width: 40%;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 480px;
}
.bottom__text{
   
    margin-bottom: 5px;

}

.Updated_header{
    text-align: center;
    margin-right: 10%;
}

.email{
    background-color: #faecec;
    border-radius: 3px;
    height: 30px;
    width: 15rem;
    padding: 5px;
    
    
}

.get_updated{
   text-align: center;
   
}
.get_update_button{
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );
    margin: 10px;
    padding: 20px;
    color: #fff;
    border: none;
    /* padding: 0.5rem 1rem; */
    text-align: center;
    justify-content: center;
    text-transform: capitalize;
    transition: 0.5s;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
   

}


.table_image{
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
   border-radius: 20px;
   height: 350px;
    width: 90%;
}

.image_text{
    margin-left: 5%;
    margin-right:5%;
   text-align: center;
    font-size: 54px;
    
    
    color: rgb(255, 255, 255);
    margin-top: -11%;
    position: absolute;
}




.f_Zomato{
    color: rgb(255, 255, 255);
    font-size: 100px;
    margin-left: 20%;
    
    
}


.f{
    font-size: 20px;
    margin-top : -40px;
    margin-left: 70%;
    color: #f9fafc;
}
.footer{
    margin-top: 40px;
    border-radius: 20px;
    height: 180px;
    
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );
}


